.navbar
{
    box-shadow:0 0 3px rgb(0,0,0,0.4);
    height: 2.5rem;
}

button[class='nav-link']
{
    border:none;
    background-color:transparent
}
span
{
    position: relative;
}
input[placeholder='search anything...']
{
    border:3px solid #DDECFF;
    background-color:#F0F5FA;
    width: 25rem;
}
input[placeholder='search anything...']:focus
{
    outline: none;
    border-color: #a4cbff;
    left: 0;
}
img[alt='search']
{
    position: absolute;
    left: 0;
    padding: 5px;
    margin: 0.2rem;
}
img
{
    width: 1.4rem;
}
.Titlebar{
    position: relative;
}

.btn-group
{
    display: flex;
    align-items: center;
    justify-content: baseline;
    position: absolute;
    right: 0;
    top: 0;
    /* bottom: 0; */
    /* height: 3rem; */
}
section h6
{
    font-weight:bold;
}
li
{
    list-style-type: none;
}
.btn
{
    display: flex;
    align-items: center;
    border: 2px solid rgb(0,0,0,0.2);
    /* margin: 10px; */
    height: 1.5rem;

}
.btn:hover
{
    border: 2px solid rgb(0,0,0,0.6);
}
.btn:focus
{
    background-color: rgb(50,50,50,0.1);
}
.btn:nth-last-child(1)
{
    border-color: #14147D;
    color: #14147D;
}
.modal
{
    backdrop-filter: blur(5px);
    background-color: rgb(0,0,0,0.4);
    right: 0;
}
.modal .btn
{
    border: none;
}
.modal-header
{
    background-color: #14147D;
    color: #fff;
}
.btn-close
{
    all: unset;
}
.modal-content
{
    width: 100vw;
}
.modal-body ul
{
    padding: 10px;
    margin: 10px;
    border-bottom:2px solid #14147D;
}
.modal-body p:nth-last-child(2),p:nth-last-child(1)
{
    font-size: medium;
    padding: 0.5rem;
    border: 2px solid black;
}